---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-primary-400 via-primary-500 to-primary-600 dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Hans Hofner
      </span>
    </h1>
    <p class="text-2xl pb-4">Web developer in Japan.</p>
  </div>
  <div>
    <!-- TODO: Remove this some day -->
    <p class="mb-5">
      I am a multitalented web developer with a passion for exploring new technologies and domains. With experience in React, Vue, Elixir, and Python, I am comfortable tackling a wide range of projects. My diverse interests and ability to speak multiple languages allow me to bring unique perspectives and solutions to the table.
    </p>
    <p>I'm currently employed at MonstarLab</p>
  </div>
</section>
